<!-- Templates -->

<script type="text/ng-template" id="edge_node_renderer.html">
  <span class='edge-node'
        ng-class="overclass"
        ng-drop="true"
        ng-drop-success="onDropNode($data,node)"
        ng-mouseover="overclass='edge-node-highlight'"
        ng-mouseleave="overclass=''"
        ng-drag="true"
        ng-drag-data="node">
    {{node.name}}
  </span>
</script>
<!--
<script type="text/ng-template" id="table_node_renderer.html">
  <span class='table_node'
        ng-drag="true"
        ng-drag-data="tn"
        ng-drop="true"
        ng-drop-success="onDropFT($data,tn)"
        ng-class="overclass"
        ng-mouseover="overclass='tn-highlight'"
        ng-mouseleave="overclass=''">
    {{en.toString('SHORT')}}</span>(<span ng-repeat="attribute in tn.attributes" ng-include="'table_node_renderer.html'"></span>)
</script>-->


<script type="text/ng-template" id="edge_renderer.html">
  <div>
    <span class='node'>{{edge.sourceNode.name}}</span>
    <select
      ng-model="edge.shared_interaction"
      ng-change="updateEdgeType(edge)">
      <!--
      <option ng-show="edge.originalType"
              value="edge.originalType">{{edge.originalType}}
      </option>
      -->
      <option ng-repeat="edgeType in currentEdgeTypes" ng-value="edgeType">{{edgeType}}</option>
    </select>
    <span class='node'>{{edge.targetNode.name}}</span>
  </div>
</script>

<!-- CyRest is not available, show no-cytoscape> -->
<div ng-hide="cyRestAvailable">
  Cytoscape 3.6+ is either (1) not running or (2) does not have CyRest installed or (3) does not have CyNDEx2 installed
</div>

<!-- Network Selector -->
<!-- Cytoscape is available via cyRest and cyNDEx2, show selector here...

ng-options="networkObject.name for networkObject in networksInCytoscape"


-->
<div ng-show="cyRestAvailable">
  <select id="networkselector"
          name="Network Selector"
          ng-model="currentNetworkObject"
          ng-change="getCurrentNetwork()">
    <option value="">---Select a Network---</option>
    <option ng-repeat="networkObject in networksInCytoscape"
            ng-value="networkObject">{{networkObject.name}}</option>
  </select>
  <div>{{currentEdgeTypes}}</div>
</div>

<!-- Editor -->

<div ng-show="currentNetworkSUID" class="row">


  <!--  Left Column for Editing -->


  <div class='col-md-9 AlignCenter edit-model-display'>
    <div class="current-network-title">{{currentNetworkName}}</div>
    <div ng-repeat="edge in edges" ng-include="'edge_renderer.html'">
    </div>
  </div>


  <!--  Right Column for Network Info and Nodes -->

  <div class='col-md-3 AlignCenter nodes'>
    <div class='node'
         ng-repeat='node in nodes'
         ng-drag="true"
         ng-drag-data="node"
         ng-class="overclass"
         ng-mouseover="overclass='node-highlight'"
         ng-mouseleave="overclass=''">
      {{node.name}}
    </div>
  </div>


</div>


<!--
<div>
  first edge type {{edgeTypes[0]}}
</div>
<div>
  selected edge type {{selectedEdgeType}}
</div>
<select ng-model="selectedEdgeType"
        ng-options="edgeType for edgeType in edgeTypes">
</select>
-->

