<!-- Templates -->

<script type="text/ng-template" id="edge_node_renderer.html">
  <div class='edge_node'
       ng-class="overclass"
       ng-drop="true"
       ng-drop-success="onDropNode($data,en)"
       ng-mouseover="overclass='en-highlight'"
       ng-mouseleave="overclass=''"
       ng-drag="true"
       ng-drag-data="node">
    {{node.name}}
  </div>
</script>
<!--
<script type="text/ng-template" id="table_node_renderer.html">
  <span class='table_node'
        ng-drag="true"
        ng-drag-data="tn"
        ng-drop="true"
        ng-drop-success="onDropFT($data,tn)"
        ng-class="overclass"
        ng-mouseover="overclass='tn-highlight'"
        ng-mouseleave="overclass=''">
    {{en.toString('SHORT')}}</span>(<span ng-repeat="attribute in tn.attributes" ng-include="'table_node_renderer.html'"></span>)
</script>-->

<script type="text/ng-template" id="edge_renderer.html">
  <p>
    <span ng-bind="node=getSourceNode(edge)" ng-include="'edge_node_renderer.html'"></span>
    {{edge.shared_interaction}}
    <span ng-bind="node=getTargetNode(edge)" ng-include="'edge_node_renderer.html'"></span>
  </p>
</script>

<!-- if CyRest then show network selector, otherwise show no-cytoscape> -->
<div ng-hide="cyRestAvailable">
Cytoscape 3.6+ is either (1) not running or (2) does not have CyRest installed or (3) does not have CyNDEx2 installed
</div>
<!-- Network Selector -->
<div ng-show="cyRestAvailable">
<!-- Cytoscape is available via cyRest and cyNDEx2, show selector here... -->
<select id="networkselector"
        name="Network Selector"
        ng-model="currentNetworkObject"
        ng-change="getCurrentNetwork()"
        ng-options="networkObject.name for networkObject in networksInCytoscape">
</select>
</div>

<!-- Editor -->

<div ng-show="currentNetworkSUID" class="row">
  {{currentNetworkName}}

  <!--  Left Column for Editing -->


  <div class='col-md-9 AlignCenter edit-model-display'>
      <div ng-repeat="edgeSUID in edgeSUIDs" ng-include="'edge_renderer.html'">
      </div>
  </div>


  <!--  Right Column for Network Info and Nodes -->

  <div class='col-md-3 AlignCenter network-and-nodes'>
    <div class='table-node-template'
         ng-repeat='node in nodes'
         ng-drag="true"
         ng-drag-data="node"
         ng-class="overclass"
         ng-mouseover="overclass='tn-highlight'"
         ng-mouseleave="overclass=''">
      {{node.name}}
    </div>
  </div>


</div>




