
<div class="row">
  <div class='col-md-2'></div>
  <div class='col-md-8 AlignCenter'>

    <p>account = {{signIn.accountName}}</p>

    <p>loggedIn = {{loggedIn}}</p>

    <p>foo = {{networkDisplay.foo}}</p>

    <p>ndex uri = {{myNdex.getNdexServerUri()}}</p>

    <div ng-show="signIn.message">
      <p>{{signIn.message}}</p>
    </div>

    <div ng-show="networkDisplay.networkSearchResults">
      <div ng-repeat="networkSummary in networkDisplay.networkSearchResults">
        <a ng-click="networkDisplay.editNetwork(networkSummary.externalId)">{{networkSummary.name}}</a>
      </div>

    <div ng-show="networkDisplay.error">
      <p>{{networkDisplay.error}}</p>
    </div>

    <!--
    <div class='col-md-12' ng-show="!loggedIn">
      <div class="home-box home-margins">
        <form name="signInForm" class="form-signin" role="form" ng-submit="signIn.submitSignIn()">
          <div class="AlignCenter" style="font-size: 14px">
            <span>Sign in to NDEx</span>
            <hr>
          </div>
          <div class="form-group">
            <input name="accountName" type="accountName" class="form-control" placeholder="Account Name"
                   required autofocus ng-model="signIn.accountName">
          </div>
          <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required
                   ng-model="signIn.password">
          </div>
          <div class="AlignCenter">
            <button class="btn btn-lg btn-primary" type="submit">
              Sign in
            </button><br><br>

          </div>
          <hr>

        </form>
        <span class="text-danger">{{signIn.message}}</span>
      </div>
    </div>
    -->
  </div>
</div>

