
<a ng-click="pmcId='156895'">use 156895 :-)</a>
<form novalidate class="simple-form">
  PubMed Central ID: <input type="text" ng-model="pmcId" /><br />
  <input type="button" ng-click="resetPMC()" value="Reset" />
  <input type="submit" ng-click="getEuropeanPMC()" value="Get Paper XML" />
</form>

<form novalidate class="simple-form">
  PubMed Central XML: <input type="text" ng-model="pmcXML" /><br />
  <input type="button" ng-click="resetPMCXML()" value="Reset" />
</form>

<a ng-click="getFriesTestData()">get fries test data</a>

<form novalidate class="simple-form">
  PubMed Central XML File:
<input type="file" file-model="pmcFile"/>
<button ng-click="processXMLAsFile()">process File with Reach</button>
  </form>

<div ng-show="pmcXML">
<p>PMC XML <a ng-click="processNXML(pmcXML, 'indexcard')">process with Reach</a></p>
  <p ng-bind="pmcXML"></p>
</div>


<div ng-show="reachJSON">
  <p>Reach JSON</p>
<p ng-bind="reachJSON"></p>
</div>
